<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
      <mat-form-field class="full-width">
        <input type="text" formControlName="username" matInput placeholder="Username" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="password" formControlName="password" matInput placeholder="Password" />
      </mat-form-field>
      <div class="full-width">
        <button type="submit" mat-raised-button color="primary">Login</button>
      </div>
    </form>
  </mat-grid-tile>
</mat-grid-list>